
/*Body style*/
body, html {
    height: 100%;
    background-image: url('../img/app-back4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.workspace-body {
    padding-top: 56px;
    background-color: #ebedec;
}


/*header*/
header.fixed-top {
    position: fixed;
    width: 100%;
    background-color: #274746;
    color: #00030f; 
    min-height: 12px;
    height: auto;
    z-index: 1000;
}

/*container inside inside header*/
.header-container{
    padding: 5px 10px 5px 10px;
}

/*company logo*/
.logo {
    font-size: 40px;
    color: #37a2a1;
}

/*text next to logo*/
.logo-txt {
    font-size: 10px;
    color: white;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*container for iframe*/

.frame-container {
    max-width: 1200px; 
    height: 100px;
    padding: 0px; 
    margin: 0 auto; 
    margin-top: 20px;
}

.main-iframe {
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/*body*/
.body_container.container {
        display: flex;
        flex-direction: row;
}


/*containers inside main page*/
.text-container {
    flex: 1;
    min-height: 100px;
    height: auto;
    width: 50%;
    border-radius: 4px;
    margin-top: 15px;
}

.blog-container {
    background-color: #bdc7c5;
    opacity: .6;
    width: 100%;
    padding: 10px;
}

.book_list {
    display: flex;
    background-color: white;
    opacity: .9;
}

.image-holder {
    width: 15%;
    height: 100%;
}

.content-holer {
    display: flex;
    flex-direction: column;
    width:100%;
}

.book_metadata {
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.login-icon-home {
    display: flex;
    justify-content: center;
    font-size: 150px;
    color: #37a2a1;
}


/*divs holding information on my body*/
.data-divs {
    flex: 1;
}



.inputs {
    width: 50%;
    margin-left: 25%;
}


.submit-button {
    width: 100%;
    text-align: center;
    margin: 2px;
}

.search-button {
    background-color: #80d3c0;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    opacity: .7;
    width: 10%;
}

.search-input {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}



/*list items across the application*/
.lists-items:hover{
    background-color: #c8fafa;
}

/*text inside the footer*/
.footer-text {
    font-size: 10px;
}


/* Footer */
footer {
    background-color: #274746;
    opecity: 0.5;
    color: white;
    height: auto;
    min-height: 40%;
}

/* overriding Bootstrap class for for inputa*/
.form-control {
    border-color: #3deae2;
}

/*iframe on main page (can be used for internal adverts*/
.frame {
    background-image: url("../img/banner.jpg");
    padding: 10px;
}


/*text size across the application (labels, placeholder etc.)*/
.universal-menu-text {
    font-size: 10px;
}

.input-background {
    background-color: transparent;
    color: white !important;
}

.input-background:focus {
    background-color: transparent;
}

.input-background::placeholder {
    color: white !important;
}

.Sign_up-button {
    margin-top: 10px;
}

/*top menu for mobile devices*/
.mobile-menu {
    visibility: hidden;
    float: left;
}

/*buttons for desktop*/
.pc-menu {
    visibility: visible;
}


/*logged in pages*/
.logged-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-container-logged {
    width: 98%;
    height: auto;
    margin-top: 2%;
    margin-left: .9% !important;
    visibility: hidden;
}

.employee-container-logged {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .6;
}

.menu-container-logged {
    height: 100%;
    width: auto;
    min-width: 20%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.content-container-loggged {
    height: 100%;
    width: 100%;
    border: solid #8e9494 1px;
    border-radius: 4px;
}

.logged-menu-side {
    background-color: #97b0b0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: #000000 !important;
    font-weight: 700;
    padding-left: 10%;
}

.logged-menu-side:hover {
    background-color: #ebf2f4 !important;
}

.logged-menu-icons {
    size: 20px;
}

.logged-menu-txt {
    margin-left: 8px;
}

.logged-container {
    margin: 3px;
    width: 99%;
    height: 99%;
    border: solid #8e9494 1px;
    border-radius: 4px;
}

.inside-frame-logged {
    background-color: #97b0b0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.booklist-container {
    width: 99%;
    min-height: 70%;
    height: auto;
    margin: 0 1px 0 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.top-list-controls {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.toogle-support-div {
    width: 90%;
    height: 100%;
}

.toogle-container {
    height: 100%;
    width: 10%;
    min-width: 5%;
}

.logged-list-container {
    width: 100%;
    height: 90%;
    background-color: grey;
    overflow: auto;
    border-radius: 5px;
    padding: 0;
    margin-left: 3px;
}

.logged-list-container::-webkit-scrollbar{
    display: none;
}

.logged-list {
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.list-item-logged {
    margin: 0 !important;
    width: 95%;
}

.catalog-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.buttons-main-logged {
    width: 40%;
    height: 100%;
    margin-left: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.book-info-logged {
    width: 59%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 0% 2% 0 2%;
    /*font-size: 5px;*/
    display: flex;
    flex-direction: row;
}

.bottom-transaction-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    background-color: white;
}

.transaction-bttons {
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    width: 40%;
    border: solid 1px darkgray;
    font-size: 20px;
    font-weight: 700;
    color: black;
    opacity: 1 !important;
}

.book-details-container {
    height: 100%;
    width: 50%;
}

.top-crud-buttons {
    height: 38%;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    visibility: hidden;
}

.confirmation-box {
    height: auto;
    min-height: 10%;
    width: 40%;
    border-radius: 6px;
    border: solid #97b0b0 2px;
    position: fixed;
    left: 30%;
    top: 20%;
    background-color: #2d4c4c;
    opacity: .8;
    z-index: 999;
    color: white;
    padding: 2%;
    visibility: hidden;
}

.confirmation-box-delete {
   display: flex;
   flex-direction: column;
}

.confirmation-box-top {
    width: 100%;
    height: 50%;
}

.confirmation-box-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.delete-buttons {
    background-color: red !important;
    margin-top: 1%;
}

.Cancel-buttons {
    width: 50%;
    margin-top: 2%;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*media queries for responsive design*/

@media screen and (max-width: 1190px){

    .body_container.container {
        display: flex;
        flex-direction: column;
}

.text-container {
    width: 100%;
}

.mobile-menu {
        visibility: visible;
        float: none;

}

.pc-menu {
        visibility: hidden;
}


@media screen and (max-width: 554px) {
    .logged-main-container {
        margin-top: 1%;
    }
}

@media screen and (max-width: 768px) {
    .logged-main-container {
        margin-top: 2%;
    }
}