<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="workspace-body">

    <!-- Header -->
    <header class="fixed-top" id="dis">

        <div class="header-container">

            <div class="row">

                <div class="col-6">
                    <span ><i class="logo bi bi-soundwave"></i><span class="logo-txt">ShelfSync...</span></span>
                </div>

                <div class="col-6 text-right">
                    <div class="btn-group">
                        <i class="bi bi-person-lines-fill logo"></i>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <div class="logged-main-container">
        <div class="search-container-logged">
            <form class="input-group mb-3 submit-form">
                <button class="input-group-text universal-menu-text ubmit-button btn btn-info search-button universal-menu-text "><i class="bi bi-search"></i></button>
                <input type="text"  class="form-control focus-trigger-search universal-menu-text typing-seach input-background search-input" name="key_word" placeholder="Search features here">
            </form>
        </div>
        <div class="employee-container-logged">
            <div class="menu-container-logged">
                <ul class="list-group ">
                    <li class="list-group-item logged-menu-side bi bi-house-fill logged-menu-icons" data-item_id="1"><span class="logged-menu-txt">Home</span></li>
                    <li class="list-group-item logged-menu-side bi bi-people"><span class="logged-menu-txt">Manage Users</span></li>
                    <li class="list-group-item logged-menu-side bi bi-bookshelf menu-select-assets"><span class="logged-menu-txt">Library Catalog</span></li>
                    <li class="list-group-item logged-menu-side bi bi-person-rolodex" data-item_id="5"><span class="logged-menu-txt">Manage Patrons</span></li>
                    <li class="list-group-item bi bi-gear logged-menu-side logged-menu-icons" data-item_id="4"><span class="logged-menu-txt">Settings</span></li>
                </ul>
                <div class="top-crud-buttons">
                    <form action="/api/resources" method="post">
                        <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button">Add Book</button>
                    </form>
                    <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button" id="delete_confirm">Delete Book</button>
                    <form>
                        <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button" value="update">Update Info</button>
                    </form>
                </div>
            </div>
            <div class="content-container-loggged">
                <div class="inside-frame-logged">
                    <div class="booklist-container">
                        <div class="top-list-controls">
                            <div class="toogle-support-div"></div>
                            <div class="toogle-container"></div>
                        </div>
                        <div class="logged-list-container">
                            <ul class="logged-list">
                                <li class="lists-items list-group-item book_list list-item-logged"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog-options">
                        <div class="book-info-logged">
                            <div class="book-details-container">
                                <p>ISBN Number: </p>
                                <p>Genre: </p>
                                <p>Avalability Status:</p>
                            </div>
                            <div class="book-details-container">
                                <p>Leased To: </p>
                                <p>Return Date: </p>
                                <p>Amount: </p>
                            </div>
                        </div>
                        <div class="buttons-main-logged">
                            <div class="bottom-transaction-buttons">
                                <form>
                                    <button class="transaction-bttons submit-button btn btn-info sub universal-menu-text">Check In</button>
                                    <button class="transaction-bttons submit-button btn btn-info sub universal-menu-text">Check Out</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="confirmation-box confirmation-box-delete">
            <div class="confirmation-box-top">
                <form action="{{ url_for('delete_book') }}" method="post">
                    <input type="text"  class="form-control focus-trigger-search universal-menu-text input-background search-input" required name="book_id" placeholder="Enter ISBN number or title">
                    <button class="submit-button btn btn-info sub universal-menu-text delete-buttons">Delete Book</button>
                </form>
            </div>
            <div class="confirmation-box-bottom">
                <button class="submit-button btn btn-info sub universal-menu-text Cancel-buttons" id="delete-cancel">Cancel</button>
            </div>
        </div>
        
    </div>
    
    <!-- Footer -->
    <footer>
        <span>{{ error }}</span>
        <span>{{ sucess }}</span>
        
    </footer>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
