<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="workspace-body">

    <!-- Header -->
    <header class="fixed-top" id="dis">

        <div class="header-container">

            <div class="row">

                <div class="col-6">
                    <span ><i class="logo bi bi-soundwave"></i><span class="logo-txt">ShelfSync...</span></span>
                </div>

            </div>


        </div>
        <div class="success-msg " id="success" onclick="notifocation_close();">{{ sucess }}</div>
        <div class="error-msg succsess-msg" id="error">{{ error }}</div>
    </header>
    <div class="logged-main-container">
        <div class="search-container-logged">
            <form class="input-group mb-3 submit-form">
                <button class="input-group-text universal-menu-text ubmit-button btn btn-info search-button universal-menu-text "><i class="bi bi-search"></i></button>
                <input type="text"  class="form-control focus-trigger-search universal-menu-text typing-seach input-background search-input" id="typing-search-resource" name="key_word" placeholder="Search for books here">
            </form>
        </div>
        <div class="employee-container-logged">
            <div class="menu-container-logged">
                <ul class="list-group ">
                    <li class="list-group-item logged-menu-side bi bi-house-fill logged-menu-icons" data-item_id="1"><span class="logged-menu-txt">Home</span></li>
                    <li class="list-group-item logged-menu-side bi bi-people menu-select-users"><span class="logged-menu-txt">Manage Users</span></li>
                    <li class="list-group-item logged-menu-side bi bi-bookshelf menu-select-assets"><span class="logged-menu-txt">Library Catalog</span></li>
                    <li class="list-group-item logged-menu-side bi bi-person-rolodex" data-item_id="5"><span class="logged-menu-txt">Manage Patrons</span></li>
                    <form action="/signout" id="signout-form">
                        <li class="list-group-item bi bi-box-arrow-left logged-menu-side logged-menu-icons" id="logout" data-item_id="4"><span class="logged-menu-txt">Exit</span></li>
                    </form>
                    
                </ul>
                <div class="top-crud-buttons">
                    <form action="/api/resources" method="post">
                        <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button">Add Book</button>
                    </form>
                    <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button" id="delete_confirm">Delete Book</button>
                    <form>
                        <button class="logged-crud-buttons submit-button btn btn-info sub universal-menu-text" name="button" value="update">Update Info</button>
                    </form>
                </div>
            </div>
            <div class="content-container-loggged">
                <div class="inside-frame-logged">
                    <div class="booklist-container">
                        <div class="top-list-controls">
                            <div class="toogle-support-div"></div>
                            <div class="toogle-container"></div>
                        </div>
                        <div class="logged-list-container">
                            <ul class="logged-list">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="catalog-options">
                        <div class="book-info-logged">
                            <div class="book-details-container">
                                <p>ISBN Number: </p>
                                <p>Genre: </p>
                                <p>Avalability Status:</p>
                            </div>
                            <div class="book-details-container">
                                <p>Leased To: </p>
                                <p>Return Date: </p>
                                <p>Amount: </p>
                            </div>
                        </div>
                        <div class="buttons-main-logged">
                            <div class="bottom-transaction-buttons">
                                <form>
                                    <button class="transaction-bttons submit-button btn btn-info sub universal-menu-text">Check In</button>
                                    <button class="transaction-bttons submit-button btn btn-info sub universal-menu-text">Check Out</button>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="confirmation-box confirmation-box-delete" id="confirmation-box-delete-id">
            <div class="confirmation-box-top">
                <form action="{{ url_for('delete_book') }}" method="post">
                    <input type="text"  class="form-control focus-trigger-search universal-menu-text input-background search-input" required name="book_id" placeholder="Enter ISBN number or title">
                    <button class="submit-button btn btn-info sub universal-menu-text delete-buttons">Delete Book</button>
                </form>
            </div>
            <div class="confirmation-box-bottom">
                <button class="submit-button btn btn-info sub universal-menu-text Cancel-buttons" id="delete-cancel">Cancel</button>
            </div>
        </div>

        <div class="registration-box confirmation-box" id="registration-box-employee">
            <div class="employee-add-container registration-form-container">
                <div class="side-form-user-add">
                    <form action="{{ url_for('register_user') }}" method="post" >
                        <div class="side-form">

                            <h8 class="add-user-headings" id="update-heading">Add user</h8>
                            <input type="text" name="name" required class="form-inputs add-user-inputs" id="update-name" placeholder="First name">
                            <input type="text" name="surname" required class="form-inputs add-user-inputs" id="update-surname" placeholder="Surname">
                            <input type="email" name="email" class="form-inputs add-user-inputs" id="update-email" required placeholder="Email address">
                            <input type="text" name="phone" class="form-inputs add-user-inputs" id="update-phone" required placeholder="Cellphone number">
                            <input type="text" name="position" class="form-inputs add-user-inputs" id="update-posistion" placeholder="Position">

                            <div class="is_admin-unput">
                                <label class="switch">Site admin</label>
                                <input type="checkbox" id="toggleButton" name="toggleButton">
                            </div>
  
                            <h8 class="add-user-headings">Create password</h8>
                             <input type="password" name="password" class="form-inputs add-user-inputs" id="update-password" placeholder="Password">
                        </div>
                        <div class="registration-form-buttons">
                            <button class="submit-button btn btn-info sub universal-menu-text">Add</button>
                            <button class="submit-button btn btn-info sub universal-menu-text" id="update-submit" disabled>Update</button>
                        </div>
                    </form>
                </div>
                <div class="user-manager-container">
                    <div class="add-user-search-container">
                         <form action="" method="" class="input-group mb-3 submit-form">
                            <button class="input-group-text universal-menu-text ubmit-button btn btn-info search-button universal-menu-text "><i class="bi bi-search"></i></button>
                            <input type="text"  class="form-control focus-trigger-search universal-menu-text typing-seach input-background search-input" name="user_key" id="add-user-typing" placeholder="Search user">
                        </form>
                    </div>
                    <div class="add-user-list" id="view-add-employee">
                       <!--  -->
                    </div>
            </div>
        </div>

        <div class="registration-form-buttons">
                <button class="submit-button btn btn-info sub universal-menu-text" id="close-button-register">Close</button>
            </div>
    </div>
    
    <!-- Footer -->
    <footer>
        
        
    </footer>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>



 
                    
                    
                    
                    
                      

                     

                     <div>
                    
                </div>

                